# List

list = ordered collection of objects

In [1]:
my_list_1=[1,2,3,4]

type(my_list_1)

list

In [2]:
my_list_2=[1,1.2,'str',['str',5]]

In [3]:
my_list_3=[2+3,5**3,4*8]

In [4]:
my_list_3

[5, 125, 32]

In [5]:
my_str='A string'
list(my_str)

['A', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [6]:
[1,2,3]+[4,5,6]

[1, 2, 3, 4, 5, 6]

when you add two lists in python --> concatenation

In [7]:
[1,2,3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [8]:
my_list_2

[1, 1.2, 'str', ['str', 5]]

In [9]:
1 in my_list_2

True

In [11]:
['str', 5] in my_list_2

True

In [12]:
5 in my_list_2

False

In [13]:
7 not in my_list_2

True

In [16]:
codon = 'UAG'

stop_codons = ['UAA', 'UAG','UGA']

if codon == 'AUG':
    print('Start codon.')
elif codon in stop_codons:
    print('Stop codon.')
else:
    print('neither.')

Stop codon.

In [18]:
my_list = [1, 1.2, 'str', ['str', 5]]

In [19]:
my_list

[1, 1.2, 'str', ['str', 5]]

## Double indexing

In [27]:
my_list[3][1]

5

## Index Strings

In [28]:
my_str

'A string'

In [29]:
my_str[2]

's'

# Slicing

In [30]:
my_list=[0,1,2,3,4,5,6,7,8,9,10]

In [31]:
my_list[4]

4

In [32]:
my_list[-1]

10

In [33]:
my_list[-3]

8

In [38]:
sublist = my_list[0:5] #my_list[inclusive,exclusive]
sublist

[0, 1, 2, 3, 4]

In [40]:
my_list[3:10000]

[3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
my_list[0:-3]

[0, 1, 2, 3, 4, 5, 6, 7]

In [44]:
my_list[-1:-3]

[]

# list[inclusive_start,exclusive_end,stride]

In [45]:
my_list[0::2] #stride of 2

[0, 2, 4, 6, 8, 10]

- no colons --> single element 

- any colons we are slicing the list and a list is returned

- if there is one colon --> stride is assumed to be 1

- if start is not specificed: default = 0 

- if end is not specified: default = end of the list

- default stride = 1

In [48]:
my_list[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
my_list[3:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
my_list[:5]

[0, 1, 2, 3, 4]

In [57]:
# stride can be negative 

my_list[-1:-5:-1]

[10, 9, 8, 7]

In [58]:
my_list[2:-1:2]

[2, 4, 6, 8]

In [60]:
# extract evens 
evens = my_list[::2]

# cut off the end values
evens_without_end_values = evens[1:-1]

evens_without_end_values

[2, 4, 6, 8]

In [61]:
my_list[4] = 'four'

In [62]:
my_list

[0, 1, 2, 3, 'four', 5, 6, 7, 8, 9, 10]

In [63]:
a = 689

In [64]:
id(a)

140643084174896

In [65]:
a = 690
id(a)

140643080439184

In [66]:
140643084174896 == 140643080439184

False

integers are immutable

In [67]:
my_list[0]='zero'

In [68]:
my_list

['zero', 1, 2, 3, 'four', 5, 6, 7, 8, 9, 10]

In [71]:
id(my_list[0])

140643041452144

In [72]:
#my_list had the same id before and after because lists are mutable

## Weird alias with lists

In [73]:
my_list = [0,1,2,3,4,5,6,7,8,9,10]
my_list_2=my_list

my_list_2[0]='a'

In [74]:
my_list_2

['a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
my_list

['a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
my_list = [0,1,2,3,4,5,6,7,8,9,10]
my_list_2=my_list[:]

my_list_2[0]='a'

In [77]:
my_list_2

['a', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Tuples

TIP: use tuples instead of lists unless you need the mutability

In [79]:
# tuple is a list except it is immutable; read-only list

In [80]:
my_tuple = (0,1,2,3,4,5)

In [81]:
type(my_tuple)

tuple

In [82]:
tuple(my_list)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [83]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
type(my_list)

list

## Tuple unpacking

In [85]:
my_tuple=(1,2,3)

In [86]:
a,b,c=my_tuple

In [87]:
a

1

In [88]:
b

2

In [89]:
c

3

# compute GC content of an RNA sequence

In [98]:
seq = 'ACUGUCGAUGCUACGUCGCGUACUUGCUGCGUAGACGUCUGUCAGA'

n_gc=0 #intialize a counter

for base in seq: #for each character 'base' in the seq
    if base in 'GCgc': #if base is G,C,g,c
        n_gc+=1
        
GCcontent = n_gc/len(seq)

print(str(GCcontent)+' is the percent of GC in my RNA seq')

0.5434782608695652 is the percent of GC in my RNA seq

# enumerate > range

enumerate indexes everything via tuple unpacking

In [102]:
my_integers = [1,2,3,4,5]

# iterate over the list to double each element in the list
for n in my_integers:
    n *= 2
#not giving you each entry of the list so not editing the list; list has been converted into an iterator
#here it is just spitting out the values in the list that were called.. not the list item itself...
my_integers

[1, 2, 3, 4, 5]

iterable - lists, strings, tuples

In [105]:
range(5) # range spits out integers one at a time

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [106]:
my_integers = [1,2,3,4,5]

# iterate over the list to double each element in the list
for i in range(len(my_integers)):
    my_integers[i] *= 2
#not giving you each entry of the list so not editing the list; list has been converted into an iterator
#here it is just spitting out the values in the list that were called.. not the list item itself...
my_integers

[2, 4, 6, 8, 10]

In [107]:
my_integers = [1,2,3,4,5]

for i,n in enumerate(my_integers): #tuple unpacking, indexing the elements in my_integers
    print(i,n)

0 1
1 2
2 3
3 4
4 5

[1, 2, 3, 4, 5]

In [108]:
for i, base in enumerate(seq):
    print(i,base)

0 A
1 C
2 U
3 G
4 U
5 C
6 G
7 A
8 U
9 G
10 C
11 U
12 A
13 C
14 G
15 U
16 C
17 G
18 C
19 G
20 U
21 A
22 C
23 U
24 U
25 G
26 C
27 U
28 G
29 C
30 G
31 U
32 A
33 G
34 A
35 C
36 G
37 U
38 C
39 U
40 G
41 U
42 C
43 A
44 G
45 A

In [111]:
GC=0
for i,base in enumerate(seq):
    if base in 'GCgc':
        print(i,base)
        GC+=1
        
print(GC)

1 C
3 G
5 C
6 G
9 G
10 C
13 C
14 G
16 C
17 G
18 C
19 G
22 C
25 G
26 C
28 G
29 C
30 G
33 G
35 C
36 G
38 C
40 G
42 C
44 G
25

In [112]:
count_up = ('ignition',1,2,3,4,5,6,7,8,9,10)
for count in reversed(count_up):
    print(count)

10
9
8
7
6
5
4
3
2
1
ignition

# ZIP

use on anything iterable 

will always return a tuple however

In [119]:
names = ('Dunn','Ertz','Lavelle','Rapinoe')
positions = ('D','MF','MF','F')
numbers = (19,8,16,15)

for num,pos,name in zip(numbers,positions,names): #spits elements out of the tuples out in succession
    print(num,pos,name)

19 D Dunn
8 MF Ertz
16 MF Lavelle
15 F Rapinoe

In [123]:
start_codon = 'AUG'

i=0 #initalize sequence index

while seq[i:i+3] != start_codon and i < len(seq):
    i += 1

if i == len(seq):
    print('Start codon not found.')
else: 
    print('The start codon starts are index', i)
    print(seq[:i+3])

The start codon starts are index 7
ACUGUCGAUG