In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('data/gfmt_sleep.csv',na_values = '=')
df['insomnia']=df['sci']<= 16
df.head()

,participant number,gender,age,correct hit percentage,correct reject percentage,percent correct,confidence when correct hit,confidence when incorrect hit,confidence when correct reject,confidence when incorrect reject,confidence when correct,confidence when incorrect,sci,psqi,ess,insomnia
0,8,f,39,65,80,72.5,91.0,90,93.0,83.5,93.0,90,9,13,2,True
1,16,m,42,90,90,90.0,75.5,55.5,70.5,50,75.0,50,4,11,7,True
2,18,f,31,90,95,92.5,89.5,90,86.0,81,89.0,88,10,9,3,True
3,22,f,35,100,75,87.5,89.5,*,71.0,80,88.0,80,13,8,20,True
4,27,f,74,60,65,62.5,68.5,49,61.0,49,65.0,49,13,9,12,True

# Split Apply Combine

In [2]:
grouped = df.groupby('insomnia')

grouped

In [6]:
df_median = grouped.median().reset_index()

In [7]:
df_median

,insomnia,participant number,age,correct hit percentage,correct reject percentage,percent correct,confidence when correct hit,confidence when correct reject,confidence when correct,sci,psqi,ess
0,False,54,36,90,80,85.0,74.5,71.5,75.0,26,4,6
1,True,46,39,90,75,75.0,76.5,71.0,77.0,14,9,7

In [9]:
df_gender_insom_med = df.groupby(['gender','insomnia']).median().reset_index()

In [10]:
df_gender_insom_med

,gender,insomnia,participant number,age,correct hit percentage,correct reject percentage,percent correct,confidence when correct hit,confidence when correct reject,confidence when correct,sci,psqi,ess
0,f,False,58.0,36.0,85.0,80.0,85.00,74.00,70.50,74.00,26.0,4.0,7.0
1,f,True,46.0,39.0,80.0,75.0,72.50,76.50,71.00,77.00,14.0,9.0,7.0
2,m,False,41.0,38.5,90.0,80.0,82.50,76.00,74.25,76.25,29.0,3.0,6.0
3,m,True,55.5,37.0,95.0,82.5,83.75,83.75,75.75,81.25,14.0,9.0,8.0

In [16]:
grouped = df.groupby('insomnia')

grouped['percent correct'].rank(method='first') #person's index on the left; person's rank on the right; .5 is because they tied

UnsupportedFunctionCall: numpy operations are not valid with groupby. Use .groupby(...).mean() instead

In [13]:
df.head()

,participant number,gender,age,correct hit percentage,correct reject percentage,percent correct,confidence when correct hit,confidence when incorrect hit,confidence when correct reject,confidence when incorrect reject,confidence when correct,confidence when incorrect,sci,psqi,ess,insomnia
0,8,f,39,65,80,72.5,91.0,90,93.0,83.5,93.0,90,9,13,2,True
1,16,m,42,90,90,90.0,75.5,55.5,70.5,50,75.0,50,4,11,7,True
2,18,f,31,90,95,92.5,89.5,90,86.0,81,89.0,88,10,9,3,True
3,22,f,35,100,75,87.5,89.5,*,71.0,80,88.0,80,13,8,20,True
4,27,f,74,60,65,62.5,68.5,49,61.0,49,65.0,49,13,9,12,True

In [14]:
grouped.rank?

Signature:
grouped.rank(
    method: str = 'average',
    ascending: bool = True,
    na_option: str = 'keep',
    pct: bool = False,
    axis: int = 0,
)
Docstring:
Provide the rank of values within each group.

Parameters
----------
method : {'average', 'min', 'max', 'first', 'dense'}, default 'average'
    * average: average rank of group.
    * min: lowest rank in group.
    * max: highest rank in group.
    * first: ranks assigned in order they appear in the array.
    * dense: like 'min', but rank always increases by 1 between groups.
ascending : bool, default True
    False for ranks by high (1) to low (N).
na_option : {'keep', 'top', 'bottom'}, default 'keep'
    * keep: leave NA values where they are.
    * top: smallest rank if ascending.
    * bottom: smallest rank if descending.
pct : bool, default False
    Compute percentage rank of data within each group.
axis : int, default 0
    The axis of the object over which to compute the rank.

Returns
-------
DataFrame with ranking of values within each group

See Also
--------
Series.groupby
DataFrame.groupby
File:      ~/opt/anaconda3/lib/python3.7/site-packages/pandas/core/groupby/groupby.py
Type:      method

In [17]:
def coeff_of_var(data):
    """Compute cpefficient of variation from an array of data"""
    return np.std(data) / np.mean(data)

In [19]:
grouped.agg(coeff_of_var).reset_index() #agg means aggregate

,insomnia,participant number,age,correct hit percentage,correct reject percentage,percent correct,confidence when correct hit,confidence when correct reject,confidence when correct,sci,psqi,ess
0,False,0.586191,0.384262,0.166784,0.184061,0.138785,0.195978,0.204312,0.187304,0.175245,0.577869,0.571566
1,True,0.536117,0.313853,0.218834,0.325760,0.171856,0.156219,0.222827,0.160061,0.381907,0.299741,0.681514

In [22]:
grouped['percent correct'].transform(np.sin)

0     -0.240974
1      0.893997
2     -0.984379
3     -0.448060
4     -0.325796
         ...
97     0.862311
98    -0.448060
99    -0.387782
100    0.773891
101   -0.325796
Name: percent correct, Length: 102, dtype: float64

In [21]:
df.groupby(['gender','insomnia'])['percent correct'].describe().reset_index()

,gender,insomnia,count,mean,std,min,25%,50%,75%,max
0,f,False,55.0,82.045455,10.844982,55.0,75.000,85.00,88.750,100.0
1,f,True,19.0,73.947368,13.624829,45.0,67.500,72.50,83.750,95.0
2,m,False,22.0,80.000000,12.770875,40.0,77.500,82.50,89.375,95.0
3,m,True,6.0,82.916667,10.655593,67.5,76.875,83.75,88.750,97.5

In [24]:
%load_ext blackcellmagic

In [28]:
df_fly = pd.read_csv(
    "data/reeves_gradient_width_various_methods.csv", comment="#", header=[0, 1]
)

In [27]:
df_fly.head()

           wt                dl1/+; dl-venus/+                          \
  wholemounts cross-sections       anti-Dorsal anti-Venus Venus (live)
0      0.1288         0.1327            0.1482     0.1632       0.1666
1      0.1554         0.1457            0.1503     0.1671       0.1753
2      0.1306         0.1447            0.1577     0.1704       0.1705
3      0.1413         0.1282            0.1711     0.1779          NaN
4      0.1557         0.1487            0.1342     0.1483          NaN

  dl1/+; dl-gfp/+
      anti-Dorsal anti-GFP GFP (live)
0          0.2248   0.2389     0.2412
1          0.1891   0.2035     0.1942
2          0.1705   0.1943     0.2186
3          0.1735   0.2000     0.2104
4          0.2135   0.2560     0.2463

# Tidied up data using melt, stack, and unstack

In [29]:
df_fly = pd.melt(
    df_fly,
    value_name='gradient width',
    var_name=['genotype','method'],
)

df_fly

             genotype       method  gradient width
0                  wt  wholemounts          0.1288
1                  wt  wholemounts          0.1554
2                  wt  wholemounts          0.1306
3                  wt  wholemounts          0.1413
4                  wt  wholemounts          0.1557
...               ...          ...             ...
1211  dl1/+; dl-gfp/+   GFP (live)             NaN
1212  dl1/+; dl-gfp/+   GFP (live)             NaN
1213  dl1/+; dl-gfp/+   GFP (live)             NaN
1214  dl1/+; dl-gfp/+   GFP (live)             NaN
1215  dl1/+; dl-gfp/+   GFP (live)             NaN

[1216 rows x 3 columns]